<%= search_form_for @q, url: search_rooms_path do |f| %>
<div class="level-item" style="margin-top: 20px;">
      <div class="field has-addons">
        <p class="control">
            <%= f.search_field :name_cont,class:'input',placeholder: 'ルーム名で検索' %>
        </p>
        <p class="control">
          <%= f.submit class: 'button is-info' %>
        </p>
      </div>
    </div>
<% end %>

<%= search_form_for @q, url: search_rooms_path do |f| %>
<div class="level-item" style="margin: 20px 20px;">
      <div class="field has-addons">
        <p class="control">
            <%= f.search_field :address_cont,class:'input',placeholder: 'エリアで検索' %>
        </p>
        <p class="control">
          <%= f.submit class: 'button is-info' %>
        </p>
      </div>
    </div>
<% end %>
