  <%= search_form_for @search do |f| %>
        <%= f.search_field :name_cont,class:'search',placeholder: 'で検索' %>
        <div class="control">
          <input class="button is-info" data-disable-with="検索" name="commit" type="submit" value="検索" />
        </div>
  <% end %>

  <%= search_form_for @search, url: search_rooms_path do |f| %>
        <%= f.search_field :address_cont,class:'search',placeholder: 'エリアで検索' %>
        <div class="control">
          <input class="button is-info" data-disable-with="検索" name="commit" type="submit" value="検索" />
        </div>
  <% end %>

<%= search_form_for @search, url: search_rooms_path do |f| %>
    <%= f.search_field :address_cont %>
    <br>
    <%= f.submit '検索' %>
<% end %>
