<section class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6-table is-6-desktop is-6-widescreen">
          <div class="box">
           <div calss="columns is-multiline">
            <strong><p>＜予約確認＞</p></strong>
              <section class="section">
                <div class="columns is-centered">
                  <div class="column is-narrow">
                     
                        <table class="table is-striped is-fullwidth">
                          <tr>
                         <th>ルームID</th>
                            <td><%= @reservation.room_id %></td>
                          </tr>
                              <tr>
                                <th>チェックイン</th>
                                <td><%= @reservation.start_date.to_s(:datetime_jp) %></td>
                              </tr>
                                <tr>
                                  <th>チェックアウト</th>
                                  <td><%= @reservation.end_date.to_s(:datetime_jp) %></td>
                                </tr>
                              <tr>
                                <th>宿泊人数</th>
                                <td><%= @reservation.people %></td>
                              </tr>
                            <tr>
                              <th>宿泊日数</th>
                              <td><%= @reservation.day_gap %></td>
                            </tr>
                          <tr>
                            <th>合計金額</th>
                            <td><%= @reservation.total_price %></td>
                          </tr>
                        </table>

                         <%= form_with(model: @reservation, url: reservations_complete_path) do |f| %>
                              <div class="form">
                                  <%= f.hidden_field :people %>
                                  <%= f.hidden_field :start_date %>
                                  <%= f.hidden_field :end_date %>
                                  <%= f.hidden_field :room_id %>
                                  <%= f.hidden_field :total, :value => @reservation.total_price %>

                                <%= f.submit "予約を完了する", class: "button is-danger is-fullwidth m-t-10 m-b-10", style: "margin-top: 20px;" %>  
                              </div>
                          <% end %>

                       <div class="actions">
                          <%= link_to "※ルーム詳細に戻る※",room_path(@reservation.room_id),  class: "button is-primary is-fullwidth m-t-10 m-b-10", style: "margin-top: 20px;" %>
                      </div>
                 </section>
               </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
