  <h3>ルーム情報一覧</h3>
 
    <table class="table is-striped is-fullwidth">
      <thead>
        <tr>
          <th>ルーム名</th>
          <th>ルーム紹介</th>
          <th>料金</th>
          <th>住所</th>
          <th>ルーム画像</th>
          <th>詳細・予約</th>
          <th>削除</th>
        </tr>
      </thead>
 
      <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td><%= room.name %></td>
            <td><%= room.introduction %></td>
            <td><%= room.price %></td>
            <td><%= room.address %></td>
            <td><%= image_tag room.room_image, size: "320x480", alt: "アイコン" if room.room_image.present? %></td>
            <td>
              <%= link_to "詳細・予約", room %>
            </td>
            <td>
              <%= link_to "削除", room, method: :delete, data: { confirm: "本当に削除しますか？" } %>
            </td>
          </tr>
          
        <% end %>
      </tbody>
    </table>
 
    <%= link_to "ルーム新規登録", :new_room, class: "button is-primary is-fullwidth m-t-10 m-b-10" %>
